.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
  padding-top: 5px;
  padding-left: 10px;
}

.nav-items {
  padding-right: 30px;
  padding-top: 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.res-logo {
  width: 150px;
  padding-top: 35px;
  padding-left: 30px;
}

.filter-button {
  cursor: pointer;
}

.shimmer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 10px;
  animation: shimmer 1s infinite linear;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
